.container__menu-bar {
  display: flex;
  margin: 10px 0 0 0;
  /* justify-content: center; */

  && ul{
    display: inherit;
    flex-direction: row;

    && li{
      list-style: none;
      margin: 0 10px;
    }
  }
}
